@model IEnumerable<SGMed.Models.ClienteModel>

@{
    ViewData["Title"] = "Atendimento";
}

<p>
    <a class="btn btn-success" asp-controller="Cliente" asp-action="Create">Adicionar</a>
</p>

@* ------------ *@



@* ------------ *@