
@model IEnumerable<SGMed.Models.ClienteModel>
@* @model IEnumerable<ClienteModel> *@

@{
    ViewData["Title"] = "Consulta";
}

<p>
    <a class="btn btn-success" asp-controller="Cliente" asp-action="Create">Adicionar</a>
</p>

@* ------------ *@

@* ------------ *@